{% extends 'blog/base.html' %}

{% block content %}

    <h1>◎ Sobre o DevBlog</h1>
    <p>O DevBlog é um projeto feito pela Turma Python como tarefa final do último passo para a finalização do curso.</p>
    <p>O DevBlog é um blog, vlog ou diário em texto e vídeo onde desenvolvedores documentam o processo de criação de um jogo, aplicativo ou software.</p>
    <p>A trajetória feita pela Turma Python no Senac Tech de Porto Alegre foi separada em 5 módulos, que são eles:</p>
    <p>UC1 - Definir algoritimos estruturados em lógica de programação: Este foi o primeiro módulo da turma, onde nele nós aprendemos o conceito baásico sobre o que é lógica de programação utilizando Portugol.</p>
    <p>UC2 - Desenvolver algoritimos em Python: Neste módulo, aprendemos novamente a lógica de programação básica, porém, utilizando Python. </p>
    <p>UC3 - Desenvolver aplicações desktop em Python: Este módulo, saímos finalmente dos fundos da casa, o backend, e começamos a nos mudarmos para a frente da casa, ou seja, começamos a integrar o frontend em nosso código de programação.</p>
    <p>UC4 - Desenvolver aplicações web responsivas com Python: Com este módulo, nós nos preparamos para a reta final da nossa jornada, introduzindo mais a fundo as aplicações em web utilizando Python.</p>
    <p>UC5 - Planejar e Desenvolver Websites utilizando o framework Django: Este é o último módulo da nossa trilha e desta aventura, no qual criamos o nosso último projeto em conjunto com toda a turma, que é este DevBlog!</p>
    <p>Esta foi nossa jornada como alunos e membros da Turma de Python no Senac Tech.</p>

{% endblock %}